#project-main {
    padding: 4vw;
    width: 70%;
}

#project-main p {
    font-size: calc(1px + 1vw);
}


#project-main ul {
    list-style: none;
    padding-left: 1vw;
    padding-bottom: 1vw;
}

#project-main li {
    padding-top: 1vw;
}

#labels {
    display: flex;
    flex-direction: row;
    padding-top: 1vw;
    padding-left: 1vw;
}

label {
    padding-right: 1vw;
}

input {
    margin-right: 1vw;
}

#buttons {
    padding: 1vw;
    display: flex;
    flex-direction: row;
}

.button {
    padding: 0 1vw;
    border: #63d6a4 solid 1.5px; 
    border-radius: 10%;
    background-color: white;
    margin: 0 0.5vw;
}

#output {
    padding-left: 5vw;
    padding-top: 1vw;
}

#flower1 {
    position: absolute;
    max-width: 240px;
    left: 73vw;
    top: 53vw;
    z-index: 0;
    pointer-events: none;
}

#flower2 {
    position: absolute;
    max-width: 130px;
    top: 60.7vw;
    left: 32.5vw;
    z-index: 0;
    pointer-events: none;
}

/* TAKEN FROM: https://flaviocopes.com/rotate-image/ */
#calculator img {
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 900px) {
    #project-main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #labels {
        display: flex;
        flex-direction: column;
        padding-top: 1vw;
        padding-left: 1vw;
    }
    input {
        width: 30%;
        padding: 1vw 0;
        margin: auto;
        text-align: center;
        margin-bottom: 1vw;
    }
    #buttons {
        justify-content: center;
    }
    #output {
        padding: 0;
    }
    #flower1 {
        max-width: 140px;
        left: 65vw;
        top: 100vw;
    }
    #flower2 {
        max-width: 140px;
        left: 5vw;
        top: 100vw;
    }
}

