* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-wrapper {
    background-image: linear-gradient(#7cebbb, white);
    font-family: monospace;
    width: 80%;
    margin: auto;
    font-size: calc(4px + 1vw);
}

header {
    padding: 2vw 1vw;
    background-color: #63d6a4;
    border-bottom: double 5px white;
}

a {
    color: #034528;
}

nav {
    /* 
    width: 15%;
    */
    width: 30%;
    background-image: linear-gradient(#63d6a4, white);
    border-right: double 5px white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}

nav a {
    text-decoration: none;
}

nav li {
    font-size: calc(3px + 1vw);
    list-style-type: none;
    margin: 4vh auto;
    background-color: white;
    border: solid 2px #49b385;
    width: 80%;
    justify-content: center;
    padding: 0.7vw 0;
    border-radius: 5%;
}

#media-nav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#home-main {
    display: flex;
    flex-direction: row;
    padding: 4vw;
    width: 70%;
}

main p {
    margin: 0 1vw;
    font-size: calc(4px + 1vw);
}

footer {
    padding: 1vw;
    font-size: calc(3px + 1vw);
}


@media screen and (max-width: 1250px) {
    #home-main {
        flex-direction: column;
    }
    main p {
        padding: 2vw 0;
    }
}

@media screen and (max-width: 750px) {
    #page-wrapper {
        width: 100%;
    }
    header {
        padding: 3vw 3vw;
        background-color: #63d6a4;
        border-bottom: double 5px white;
        text-align: center;
    }
    #media-nav-main {
        flex-direction: column;
    }
    #home-main {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    main {
        width: 100%;
    }

    main p {
        padding: 2vw 0;
        font-size: calc(1px + 2vw);
    }
    nav {
        width: 100%;
        border-right: none;
        border-bottom: double 5px white;
        background-image: none;
        background-color: #7cebbb;
    }
    nav ul {
        flex-direction: row;
    }
    nav li {
        justify-content: center;
        padding: 0.7vw 0;
        margin: 2vh 1vw;
    }
    footer {
        padding: 2vw;
    }
}

